.weather-widget {
  overflow: hidden;
  border: 1px solid $appBorderColor;
  border-radius:  $appBorderRadius;
  background-color: $appBgColor;
  color:$appTextColor;

  font-size: 1rem;

  @media (min-width:300px) {
    //background: red;
  }

  @media (min-width:400px) {
    //background: dodgerblue;
  }
}
