

  $appTextColor:  #525960FF;
  $appTitleTextColor: #2F3337FF;
  $accentColor:#2196f3 ;

  $appBgColor: #fff;
  $appBorderColor: #e0e0e0;
  $appBorderRadius:7px;

  $loadingColor: #ff6a00;
  $successColor: #39d353;
  $errorColor: #ff0033;
  $transparent:rgba(0,0,0,0);

$maxWidth: 900;
$minWidth: 320;


$content-max-height: 500px;

  //
  //--weather-widget-background-color-primary: #ffffff;
  //--background-color-secondary: #edebe9;
  //
  //--accent-color: #e0e0e0;
  //--text-color: #000000;
  //
