
$accentColor:dodgerblue;

.drag-list--active{
  & [draggable="true"] * {
    pointer-events: none;
  }
}

.drag__item--drag-now {
  outline:2px $accentColor solid ;
  outline-offset: 1px;
}

.drag__item--target-now {

  transition:all .3s ease-in-out ;
  outline:2px $accentColor solid ;
  outline-offset: 1px;
  animation: drag-target .7s ease-in-out infinite;

}

@keyframes drag-target {
  from {
    outline:2px $accentColor dashed ;
    outline-offset: 1px;
  }
  to {
    outline:2px $accentColor dotted ;
    outline-offset: 1px;
  }
}



