

$outline-width:2px;

.drag-list--active{
  & [draggable="true"] * {
    pointer-events: none;
    transition:all .3s ease-in-out ;
  }
}

.drag__item--drag-now {
  outline:$outline-width $accentColor solid ;
  outline-offset: -$outline-width;
}

.drag__item--target-now {
  outline:$outline-width $accentColor solid ;
  outline-offset: $outline-width;
  animation: drag-target .7s ease-in-out infinite;
}

@keyframes drag-target {
  from {
    outline:$outline-width $accentColor dashed ;
     outline-offset: -$outline-width;
  }
  to {
    outline:$outline-width $accentColor dotted ;
     outline-offset: -$outline-width;
  }
}



